.footer{
  padding: 3rem 1.5rem 3rem;
}
.card{
  max-width: calc( 25% - 20px );
  float: left;
  margin: 10px;
}
.book-list{
  overflow: hidden;
}
.add-book{
  width: 500px;
  margin: 30px auto;
}
textarea{
  height: 150px !important;
}