.footer{
  padding: 3rem 1.5rem 3rem;
}
.card{
  width: calc( 25% - 20px );
  float: left;
  margin: 10px;
}
.book-list{
  overflow: hidden;
}
.add-book,.register{
  width: 500px;
  margin: 30px auto;
}
textarea{
  height: 150px !important;
}
.card-content {
  padding: 27px 10px;
}
.card-footer{
  margin-top: 15px;
}
.login .message{
  width: 500px;
  margin: 10px auto 30px;
}
.login .loading, .register .loading{
  max-width: 36px;
  margin-left: 20px;
}